<a href="https://almart.in/" class="al-brand">
    Andy Martin <span class="al-brand-sep">|</span> almart.in
</a>
<header id="banner">
    <div class="brand-block">
        <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        <p class="tagline">a love letter to strange and/or captivating charts</p>
        <p class="attribution">by Andy Martin (<a href="https://almart.in">almart.in</a>)</p>
    </div>
    <nav class="site-nav">
        <a class="cta" href="https://x.com/weirdcharts">follow @weirdcharts</a>
        <a href="https://github.com/almartin82/weird-charts#contributing">contribute</a>
    </nav>
</header>
